.register {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
                                rgba(255, 255, 255, 0.5)),
                url("../../Images/services-img7.jpg");
    background-size: cover;
}

.register-title {
    font-size: 50px;
    font-family: "Varela Round", sans-serif;
}

.register-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.register-form > label {
    margin: 10px 0;
    font-family: "Varela Round", sans-serif;
}

.register-input {
    padding: 10px;
    background-color: white;
    border: none;
}

.register-btn {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-family: "Varela Round", sans-serif;
}

.login-btn {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-family: "Varela Round", sans-serif;
}