@font-face {
    font-family: "Varela Round";
    font-weight: 400;
    font-style: normal;
    src: local("Varela Round"),
    url("./Fonts/Varela Round/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: "Josefin Sans";
    font-weight: 700;
    font-style: Bold;
    src: local("Josefin Sans"),
    url("./Fonts/Josefin Sans/JosefinSans-Bold.ttf");
}

@font-face {
    font-family: "Lora";
    font-weight: 400;
    font-style: italic;
    src: local("Lora"),
    url("./Fonts/Lora/Lora-Italic-VariableFont_wght.ttf");
}


body {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}